{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Список статей{% endblock %}
{% block content %}
    <h2>Список статей</h2>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for blog in blogs %}
            <div class="col">
                <div class="card shadow-sm">
                  <img src="{{ blog.preview | media_filter }}" class="img-thumbnail" alt="{{ blog.title }}">
                  <div class="card-body">
                    <p class="card-text">{{ blog.title }}</p>
                    <p class="card-text">Содержимое: {{blog.content | truncatechars:100}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a class="btn btn-primary" href="{% url 'blog:blog_detail' blog.pk %}" role="button">Подробности</a>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
              {% empty %}
            <!-- Если нет блогов, отображаем сообщение -->
                <div class="col-12 text-center">
                    <p>Нет опубликованных статей.</p>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="fixed-bottom d-flex justify-content-center mb-3">
        <a class="btn btn-primary btn-lg shadow" href="{% url 'blog:blog_create' %}" role="button">Создать пост</a>
    </div>
{% endblock %}
